<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<!--<link rel="stylesheet" type="text/css" 
	href="../static/css/myStyle.css" />
<link rel="stylesheet" type="text/css" 
	th:href="@{/css/myStyle.css}" />
	
<link rel="stylesheet" type="text/css" 
	href="../static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}"/>-->

<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}" />	
<meta name="viewport" content="width=device-width, initial-scale=1"/>	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container spacer">
	<form th:action="@{auteurs}" method="get">
		<div class="form-group">
			<label>Mot Clé:</label>
			<input type="text" name="motCle" th:value="${motCle}"/>
			<button type="submit">Chercher</button>
		</div>
	</form>
</div>
<div class="container spacer">
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th><th>NOM</th><th>PRENOM</th><th>EMAIL</th>
			<th>DELETE</th><th>EDITER</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="au:${listAuteurs.content}">
			<td th:text="${au.idAuteur}"></td>
			<td th:text="${au.nom}"></td>
			<td th:text="${au.prenom}"></td>
			<td th:text="${au.email}"></td>
			
			<td>
				<a onclick="return confirm('Etes vous sûr de supprimer?')"
					th:href="@{/supprimerAuteur(id=${au.idAuteur},page=${pageCourante},size=${size},motCle=${motCle})}">
					<button class="btn btn-danger">Delete</button>
				</a>
			</td>
			<td>
				<a th:href="@{/editAuteur(id=${au.idAuteur})}">
					<button class="btn btn-primary">Editer</button>
				</a>
			</td>
		</tr>
	</tbody>
</table>
</div>
<div class="container">
	<ul class="nav nav-pills">
		<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
			<a th:text="${p}" th:href="@{auteurs(page=${p},motCle=${motCle})}"></a>
		</li>
	</ul>
</div>
<div class="container">
	<a th:href="@{formAuteur}">
		<button class="btn btn-primary" type="submit">Ajouter</button>
	</a>
</div>
</body>
</html>