<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Confirmation Auteur</title>
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}" />	
<meta name="viewport" content="width=device-width, initial-scale=1"/>	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container col-md-6">
			<div class="panel panel-primary spacer">
				<div class="panel-heading">Confirmation</div>
				<div class="panel-body">
					<div class="form-group">
						<label>ID:</label> <label th:text="${auteur.idAuteur}"></label>
					</div>
					<div class="form-group">
						<label>NOM:</label> <label
							th:text="${auteur.nom}"></label>
					</div>
					<div class="form-group">
						<label>PRENOM:</label> <label
							th:text="${auteur.prenom}"></label>
					</div>
					<div class="form-group">
						<label>EMAIL:</label> <label
							th:text="${auteur.email}"></label>
					</div>
					<div>
						<a th:href="@{auteur/auteurs}"><button class="btn btn-primary"
								type="submit">Fermer</button></a>

					</div>
				</div>
			</div>
		</div>
</body>
</html>